[Desktop Entry]
Name=WayCord
GenericName=Discord Voice Overlay
Comment=Lightweight Discord voice overlay for Linux
Exec=waycord
Icon=waycord
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
Keywords=discord;overlay;voice;hud;gaming;vesktop;
StartupNotify=false
